{{template "base" .}}

{{define "content"}}
  <div class="container">
      <div class="row">
        <div class="col">
          <img src="../static/images/generals-quarters.png" class="img-fluid img-thumbnail mx-auto d-block room-image" alt="room-image" >
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1 class="text-center mt-4">General's Quarters</h1>
          <p class="text-center">
            welcome to Fort Smythe Bed and Breakfast, welcome to Fort Smythe Bed and Breakfast,
            welcome to Fort Smythe Bed and Breakfast,welcome to Fort Smythe Bed and Breakfast,
            welcome to Fort Smythe Bed and Breakfast,welcome to Fort Smythe Bed and Breakfast,
            welcome to Fort Smythe Bed and Breakfast,welcome to Fort Smythe Bed and Breakfast,
            welcome to Fort Smythe Bed and Breakfast,welcome to Fort Smythe Bed and Breakfast,
            welcome to Fort Smythe Bed and Breakfast,welcome to Fort Smythe Bed and Breakfast,
            welcome to Fort Smythe Bed and Breakfast,welcome to Fort Smythe Bed and Breakfast,
            welcome to Fort Smythe Bed and Breakfast,welcome to Fort Smythe Bed and Breakfast.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <a href="/search-availablity" class="btn btn-success">Check Availbility</a>
        </div>
      </div>
    </div>
{{end}}