{{template "base" .}}

{{define "content"}}
   <div class="container">
      <div class="row">
        <div class="col">
          <img src="../static/images/marjors-suite.png" class="img-fluid img-thumbnail mx-auto d-block room-image" alt="room-image" >
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1 class="text-center mt-4">Major' Suitee</h1>
          <p class="text-center">
            welcome to Fort Smythe Bed and Breakfast, welcome to Fort Smythe Bed and Breakfast,
            welcome to Fort Smythe Bed and Breakfast,welcome to Fort Smythe Bed and Breakfast,
            welcome to Fort Smythe Bed and Breakfast,welcome to Fort Smythe Bed and Breakfast,
            welcome to Fort Smythe Bed and Breakfast,welcome to Fort Smythe Bed and Breakfast,
            welcome to Fort Smythe Bed and Breakfast,welcome to Fort Smythe Bed and Breakfast,
            welcome to Fort Smythe Bed and Breakfast,welcome to Fort Smythe Bed and Breakfast,
            welcome to Fort Smythe Bed and Breakfast,welcome to Fort Smythe Bed and Breakfast,
            welcome to Fort Smythe Bed and Breakfast,welcome to Fort Smythe Bed and Breakfast.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
           <a id="btn_check-availablity" href="#!" class="btn btn-success">Check Availbility</a>
        </div>
      </div>
    </div>

{{end}}

{{define "js"}}
    document.getElementById("btn_check-availablity").addEventListener("click", function () {
      const html = `
          <form id="check-availablity-form" action="" method="post" novalidate class="needs-validation">
              <div class="form-row">
                <div class="col">
                  <div class="form-row row" id='reservation-dates-modal' id='reservation-dates'>
                    <div class="col">
                      <input id="start" disabled required class='form-control' type='text' name="start" placeholder='Arrival'>
                    </div>
                    <div class="col">
                      <input id="end" disabled required class='form-control' type='text' name="end" placeholder='Departure'>
                    </div>
                  </div>
                </div>
              </div>
          </form>`
      attention.custom({msg: html, title: "Chose the dates"});
    })
  {{end}}