{{template "base" .}}

{{define "content"}}
   <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h1 class="mt-5">Search for Availablity</h1>
          <form action="/search-availablity" method="post" novalidate class="needs-validation">
            <input type="hidden" name="csrf_token" value={{.CRSFSToken}}>
            <div class="form-row">
              <div class="col">
                <div class="form-row row" id='reservation-dates'>
                  <div class="col">
                     <input required class='form-control' type='text' name="start" placeholder='Arrival'>
                  </div>
                   <div class="col">
                     <input required class='form-control' type='text' name="end" placeholder='Departure'>
                  </div>
                </div>
              </div>
            </div>
            <hr/>
            <button type="submit" class="btn btn-primary">Search Availablity</button>
        </form>
        </div>
      </div>
    </div>
{{end}}

{{define "globeJs"}}
  const elem = document.getElementById('reservation-dates');
    const rangepicker = new DateRangePicker(elem, {
      format: 'yyyy-mm-dd'
    });
{{end}}